.recent-locations-container {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}

.recent-locations-card-container {
    width: 100%;
    padding: 0.5em;
}

.recent-locations-list {
    padding-left: 0;
}
