.recent-locations-container {
    padding: 1em;
}

.recent-locations-header {
    color: var(--clr-primary-800);
    font-size: var(--fs-700);
    text-align: center;
}

.recent-locations-list {
    padding: 0;
    display: grid;
    grid-auto-rows: 1fr;
}

@media only screen and (min-width: 50rem) {
    .recent-locations-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }
}

@media only screen and (min-width: 70rem) {
    .recent-locations-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
