/* TAB CONTAINER */
.tab-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'tab-headers' 'tab-page';
    overflow-x: hidden;
}

/* TAB HEADERS */
.tab-headers-container {
    overflow-x: auto;
    scrollbar-width: none;
    grid-area: tab-headers;
}

.tab-headers-list {
    display: inline-flex;
    padding: 0;
    margin: 0;
    color: var(--clr-white);
    background-color: var(--clr-primary-600);
}

/* TAB HEADER */
.tab-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    min-width: 6em;
    border-top: 1px solid var(--clr-border);
    border-bottom: 1px solid var(--clr-border);
    border-right: 1px solid var(--clr-border);
    cursor: pointer;
    user-select: none;
    padding-top: 0.5em;
}

.tab-item.active {
    color: var(--clr-primary-800);
    background-color: var(--clr-primary-400);
    border-bottom: none;
}

.tab-item div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-icon {
    max-width: 3em;
}

.tab-item div span {
    font-size: var(--fs-100);
}

.tab-item.active .weather-icon {
    display: none;
}

/* TAB PAGE */

.tab-page-container {
    grid-area: tab-page;
    background-color: var(--clr-primary-400);
    overflow-y: auto;
}

/* Media Queries */
@media only screen and (min-width: 35rem) {
    .tab-item {
        padding: 0.5em 0.75em;
    }

    .weather-icon {
        max-width: 3.25rem;
    }
}

@media only screen and (min-width: 50rem) {
    .tab-item {
        padding: 0.75em 1em;
    }

    .weather-icon {
        max-width: 3.5rem;
    }
}

@media only screen and (min-width: 70rem) {
    .tab-container {
        padding: 1em;
    }

    .tab-headers-list {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    .tab-item {
        padding: 1em 1.25em;
    }

    .weather-icon {
        max-width: 4rem;
    }
}
