.location-card-container {
    display: flex;
    align-items: center;
    line-height: 2.5em;
    background-color: ghostwhite;
    border-bottom: 1px solid rgba(42, 42, 42, 0.16);
}

.location-card-city {
    padding-left: 0.5em;
    flex-grow: 1;
}

.location-card-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;
    gap: 0.5em;
}

.location-card-weather .icon {
    max-width: 3em;
}

.recent-place-item button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
}
