.location-card-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    gap: 0.5em;
    align-items: center;
    color: var(--clr-white);
    background-color: var(--clr-primary-500);
    padding: 0em 0.5em;
    cursor: pointer;
    border-bottom: 1px solid var(--clr-border);
    font-size: var(--fs-400);
}

.location-card-container .icon {
    max-width: 3em;
}

.location-card-container button {
    display: grid;
    place-content: center;
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    font-size: var(--icon-s);
}

@media only screen and (min-width: 50rem) {
    .location-card-container {
        padding: 0.5em;
        grid-template-areas: 'city icon' 'temp icon';
        position: relative;
    }

    .location-card-container .city {
        grid-area: city;
    }

    .location-card-container .temp {
        grid-area: temp;
    }

    .location-card-container .icon {
        grid-area: icon;
        max-width: 5rem;
    }

    .location-card-container button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.35em;
    }
}

@media only screen and (min-width: 70rem) {
    .location-card-container .icon {
        max-width: 6rem;
    }
}
