.location-card-container {
    display: flex;
    align-items: center;
    line-height: 2.5em;
    color: var(--clr-white);
    background-color: var(--clr-primary-500);
    border-bottom: 1px solid var(--clr-border);
}

.location-card-city {
    padding-left: 0.5em;
    flex-grow: 1;
}

.location-card-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.location-card-weather .icon {
    max-width: 3em;
}

.recent-place-item button {
    display: flex;
    align-items: center;
    margin: 0 0.5em;
    color: inherit;
    background: none;
    border: none;
}
