.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-card {
    flex-basis: 60%;
}

.forecast-container {
    flex-basis: 35%;
}
