.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.control {
    margin: 1em;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        'input loc'
        'submit submit';
}

.input {
    grid-area: input;
}

.btn-loc {
    max-width: 2rem;
    grid-area: loc;
}

.btn-submit {
    grid-area: submit;
}

.results {
    position: absolute;
    width: 100%;
    background-color: hsl(200, 40%, 20%);
}

.option {
    display: flex;
    color: whitesmoke;
    padding: 0.75em 0.5em;
}

.option span {
    user-select: none;
}

.option:hover {
    background-color: hsl(200, 40%, 40%);
}

.option > :first-child {
    margin-right: 0.5em;
}
