:root {
    /* Colours */
    --clr-primary-200: hsla(180, 30%, 80%);
    --clr-primary-300: hsla(180, 25%, 70%);
    --clr-primary-400: hsla(180, 25%, 45%);
    --clr-primary-500: hsla(180, 30%, 30%);
    --clr-primary-600: hsla(180, 30%, 25%);
    --clr-primary-700: hsla(180, 30%, 20%);
    --clr-primary-800: hsla(180, 30%, 10%);
    --clr-white: hsla(0, 0%, 95%);
    --clr-border: hsla(0, 0%, 16%, 0.2);

    /* Font Sizes */
    --fs-100: 0.7rem;
    --fs-200: 0.8rem;
    --fs-300: 0.9rem;
    --fs-400: 1rem;
    --fs-500: 1.1rem;
    --fs-600: 1.2rem;
    --fs-700: 1.3rem;
    --fs-800: 1.5rem;
    --fs-900: 1.75rem;

    /* Icon Sizes */
    --icon-xs: 1rem;
    --icon-s: 1.25rem;
    --icon-m: 1.75rem;
    --icon-l: 2.25rem;
    --icon-xl: 2.75rem;
}

@media only screen and (min-width: 35rem) {
    :root {
        /* Font Sizes */
        --fs-100: 0.8rem;
        --fs-200: 0.9rem;
        --fs-300: 1rem;
        --fs-400: 1.1rem;
        --fs-500: 1.2rem;
        --fs-600: 1.3rem;
        --fs-700: 1.4rem;
        --fs-800: 1.6rem;
        --fs-900: 1.85rem;

        /* Icon Sizes */
        --icon-s: 1.35rem;
        --icon-m: 1.85rem;
    }
}

@media only screen and (min-width: 50rem) {
    :root {
        /* Font Sizes */
        --fs-100: 0.9rem;
        --fs-200: 1rem;
        --fs-300: 1.1rem;
        --fs-400: 1.2rem;
        --fs-500: 1.3rem;
        --fs-600: 1.4rem;
        --fs-700: 1.5rem;
        --fs-800: 1.75rem;
        --fs-900: 2rem;

        /* Icon Sizes */
        --icon-s: 1.5rem;
        --icon-m: 2rem;
    }
}

@media only screen and (min-width: 70rem) {
    :root {
        /* Font Sizes */
        --fs-100: 1rem;
        --fs-200: 1.2rem;
        --fs-300: 1.3rem;
        --fs-400: 1.3rem;
        --fs-500: 1.4rem;
        --fs-600: 1.5rem;
        --fs-700: 1.6rem;
        --fs-800: 1.85rem;
        --fs-900: 2.1rem;

        /* Icon Sizes */
        --icon-s: 1.65rem;
        --icon-m: 2.15rem;
    }
}

main {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--clr-primary-200);
}

main > div {
    max-width: 70rem;
    max-height: 90rem;
}

@media only screen and (min-width: 70rem) and (orientation: landscape) {
    main > div {
        max-height: 60rem;
    }
}
