/* -- CONTAINER -- */
.location-search {
    position: relative;
    margin: 1em;
}

/* -- SEARCH BAR -- */
.search-bar {
    display: grid;
    grid-template-columns: 1fr auto;
    place-content: center;
    color: var(--clr-primary-800);
    background-color: var(--clr-white);
}

.search-bar input,
.search-bar button {
    border: none;
    background: none;
    color: inherit;
    padding: 0.25em 0.5em;
}

.search-bar input {
    font-size: var(--fs-500);
}

.search-bar input:focus-within {
    outline: none;
}

.search-bar button {
    display: grid;
    place-content: center;
    font-size: var(--icon-m);
    padding: 0em 0.25em;
    cursor: pointer;
}

/* -- SEARCH RESULTS -- */
.search-results-box {
    position: absolute;
    top: calc(100% + 0.5em);
    width: 100%;
    z-index: 10;
    background-color: var(--clr-primary-300);
}

.search-results-box button {
    width: 100%;
    padding: 0.5em 0.25em;
    cursor: pointer;
    border: none;
    color: var(--clr-white);
    background-color: var(--clr-primary-600);
    font-size: var(--fs-300);
}

.suggested-places-container {
    padding: 0.5em 1em;
    font-size: var(--fs-600);
    color: var(--clr-primary-800);
}

.suggested-places-container hr {
    color: inherit;
}

.suggested-results {
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.25em;
    font-size: var(--fs-400);
}

.suggested-results li {
    cursor: pointer;
}
