/*  Location Search */
.location-search {
    position: relative;
    margin: 1em 0.5em;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    padding: 0.25em 0.5em;
    color: var(--clr-primary-800);
    border: 1px solid var(--clr-border);
    background-color: var(--clr-white);
}

.search-bar input {
    flex-grow: 1;
    font-size: calc(1vw + 1rem);
    border: none;
    color: inherit;
    background-color: inherit;
}

.search-bar input:focus-within {
    outline: none;
}

.search-bar button {
    cursor: pointer;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    font-size: 2em;
    color: inherit;
}

/* Search Results */
.search-results-box {
    position: absolute;
    top: calc(100% + 0.5em);
    left: 0;
    width: 100%;
    background-color: var(--clr-primary-200);
    box-shadow: 4px 4px 8px 2px hsla(0, 0%, 16%, 0.75);
}

.suggested-places-container {
    padding: 1em;
    color: var(--clr-primary-800);
}

.suggested-places-container hr {
    color: inherit;
}

.suggested-places-header {
    font-size: 1.2rem;
    font-weight: 600;
}

.suggested-results {
    padding: 0;
    margin: 0;
}

.suggested-results li {
    padding: 0.25em;
    cursor: pointer;
}

.search-results-box button {
    width: 100%;
    padding: 0.5em 0.25em;
    background: none;
    border: none;
    background-color: var(--clr-primary-600);
    color: var(--clr-white);
    font-size: 0.9rem;
    cursor: pointer;
}

@media only screen and (min-width: 35rem) {
    .location-search {
        margin: 2em 1em;
    }
}
