.daily-forecast-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    padding: 0.5em;
    gap: 2em;
    color: var(--clr-primary-800);
}

.forecast-overview {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forecast-overview-footer {
    display: flex;
    gap: 1em;
    color: var(--clr-white);
    background-color: var(--clr-primary-600);
    padding: 0.5em 1em;
    text-align: center;
    border-radius: 1em;
    margin: 1em 0;
}

.footer-item p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-item .icon {
    font-size: var(--icon-s);
}

.forecast-details {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10.65em, 1fr));
    gap: 1em;
}

.forecast-details-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.forecast-details-item .icon {
    font-size: var(--icon-xl);
}

.forecast-details-item div {
    margin-left: 1em;
}

/* Media Queries */
@media only screen and (min-width: 35rem) {
    .daily-forecast-container {
        gap: 2em;
    }

    .forecast-overview {
        margin-top: 2.5em;
        gap: 0.5em;
    }

    .forecast-details {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 50rem) {
    .daily-forecast-container {
        padding: 0.75em;
        gap: 4em;
    }

    .forecast-overview {
        margin-top: 4em;
    }

    .forecast-details {
        column-gap: 2.5em;
        row-gap: 1.5em;
    }
}

@media only screen and (min-width: 70rem) {
    .daily-forecast-container {
        padding: 1em;
        gap: 6em;
    }

    .forecast-overview {
        margin-top: 6em;
        gap: 1em;
    }

    .forecast-details {
        row-gap: 2.5em;
        grid-template-columns: repeat(3, 1fr);
    }
}
